<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parameterization Test Suite">
	<test name="Testing Parameterization">
		<parameter name="browser" value="Firefox" />
		<classes>
			<class name="com.automation.testpack.AppTest" />
		</classes>
	</test>
</suite>